* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

@keyframes myAnim {
    0%,
    50%,
    100% {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
}

$font_family: 'Montserrat', sans-serif;
$color_titles: #ffffff;
$color_content: #000000;

.center {
    padding-right: calc(50% - 600px);
    padding-left: calc(50% - 600px);
}

@mixin top() {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    
}
@mixin title () {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    color: $color_titles;
    font-family: $font_family;
}



body {
    font-family: $font_family;
    margin: auto;
}

.header {
    display: flex;
    height: 77px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #FFFFFF;    
}

.search {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    width: 288px;
    height: 41px;
    background: transparent;
    color: #ffffff;
    padding-left: 32px;
    padding-right: 32px;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    font-family: $font_family;
    &::placeholder {
        color: $color_titles;
        font-style: normal;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        font-family: $font_family;
    }
}

.menu {
    display: flex;
    gap: 32px;
    .header_link {
        font-size: 16px;
        line-height: 20px;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        color: $color_titles;
    }
}

.link:hover {
    text-decoration: underline;
}

.link2:hover {
    text-decoration: underline;
}

.menu_mobile {
    display: none;
}

.index_top {
    @include top();
    height: 735px;
    background-image: url(img/top.jpg);
    position: relative;
    
    &_title {
        @include title();
        margin-top: 64px;
        margin-bottom: 16px;
        max-width: 792px;
    }

    &_text {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 16px;
        font-style: normal;
        font-weight: normal;
        color: $color_titles;
        max-width: 792px;
    }
    &_link_catalog {
        font-size: 16px;
        line-height: 24px;
        font-style: normal;
        font-weight: normal;
        color: $color_titles;
        text-decoration: none;
        &:hover {
            text-decoration-line: underline;
        }
    }
}

.arrow {
    position: absolute;
    bottom: 70px;
    right: 131px;
}



.catalog_top {
    height: 400px;
    background-image: url(img/top_catalog.jpg);
    @include top();
    &_title {
        @include title();
        margin-bottom: 126px;
        margin-top: 126px;
    }
}    
    
.cart_top {
    
    background-image: url(img/top_cart.jpg);
    @include top();
    &_title {
        @include title();
        padding-bottom: 126px;
        padding-top: 126px;
    }
}

.cart-box {
    margin-top: 64px;   
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 32px;
}        

.cart_items {
    &_title {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-right: 28px;
        font-family: $font_family;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: $color_content;
        margin-bottom: 14px;
    }
    &_content {
        border-top: 0.5px solid #CACDD8;
        padding-top: 25px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        gap: 32px;
        align-items: flex-start;
        flex-wrap: nowrap;
    }
}           

.items_img {
    position: static;
    width: 173px;
    height: 173px;  
}

.items_text {
    margin-right: 234px;

    &_title {
        font-family: $font_family;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: $color_content;
        margin-bottom: 14px;
    }
    &_def {
        font-family: $font_family;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
        margin-bottom: 16px;
    }
    &_cost {
        font-family: $font_family;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #050505; 
        margin-bottom: 16px;
    }
}

.items_text_link {
    display: flex;
    align-items: center;
    gap: 30px;
    .text_link {
        font-family: $font_family;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: $color_content;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    } 
}

.items_number {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-content: space-evenly;
    height: 51px;
    width: 71px;
    background-color: #F7F6F6;
    border-radius: 6px;

   
}    

.input_number {
    background-color: #F7F6F6;
    box-sizing: border-box;                      
    border: none;
    width: 35px;
    padding-left: 20px;
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.arrows {
    width: 16px; 
    height: 16px;
    background-color: #F7F6F6;
    border: none;   
}
    
.up {
    background: url(img/up.png) no-repeat right center;
    background-position: 12%; 
}
.down {
    background: url(img/down.png) no-repeat right center;
    background-position: 12%; 
}    

.cart_items_buttons {
    display: flex;
    gap: 24px;
    height: 37px;
}
.items_buttons {
    background: #ffffff;
    font-family: $font_family;
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #020202;
    width: 200px;
    transition: transform 1s;
    &:hover {
        background: #000000;
        border: 1px solid #000000;
        color: #ffffff;
        transform: scale(1.05);
    }
} 

.cart_order {
    background-color: #F7F6F6;
    border-radius: 20px;
    padding-left: 28px;
    padding-top: 42px;
    padding-bottom: 148px;
    padding-right: 28px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.cart_order_text {
    font-family: $font_family;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: $color_content;
    margin-bottom: 32px;
}

.cart_order_data {
    border: none;
    background: none;
    box-sizing: border-box;
    border-bottom: 1px solid #CACDD8;
    width: 275px;            
    padding-bottom: 3px;            
    margin-bottom: 41px; 
    outline: none;    
    &::placeholder {
        font-weight: 400;
        font-family: $font_family;
        font-size: 14px;
        line-height: 17px;
        color: #000;
    }
}        

.cart_order_sum {
    margin-top: 64px;
    font-weight: 400;
    font-family: $font_family;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $color_content;
}

.cart_order_button {
    margin-top: 22px;
    background-color: #F7F6F6;
    font-family: $font_family;
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 20px;
    width: 275.36px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #020202;
    height: 46px;
    animation: myAnim 3s ease 0s infinite normal forwards;
    transition: transform 1s;
    &:hover {
        background: #000000;
        border: 1px solid #000000;
        color: #ffffff;
        transform: scale(1.05);
        animation: none;
    }
}
    
.index_for {
    margin-top: 64px;
    &_title {
        font-family: $font_family;
        font-weight: 600;
        font-size: 48px;
        line-height: 59px;
        color: $color_content;
        font-style: normal;
        margin-bottom: 32px;
    }
    &_content {
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(12, 1fr);
    }
}    

.for_item {
    display: grid;
    height: 415px;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: span 4;
    align-content: center;
    justify-content: center;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: $color_titles;
}

.for_item_big {
    grid-column: span 6;
}
.for_item_1 {
    background-image: url(img/relax.jpg);
    transition: transform 1s;
    &:hover {
        transform: scale(1.05);
    }
}
.for_item_2 {
    background-image: url(img/workplace.jpg);
    transition: transform 1s;
    &:hover {
        transform: scale(1.05);
    }
}
.for_item_3 {
    background-image: url(img/kitchen.jpg);
    transition: transform 1s;
    &:hover {
        transform: scale(1.05);
    }
}
.for_item_4 {
    background-image: url(img/kidsroom.jpg);
    transition: transform 1s;
    &:hover {
        transform: scale(1.05);
    }
}
.for_item_5 {
    background-image: url(img/bathroom.jpg);
    transition: transform 1s;
    &:hover {
        transform: scale(1.05);
    }
}            

.product-box {
    padding-top: 64px;
}
 
.special_title {
    font-family: $font_family;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: $color_content;
    font-style: normal;
    margin-bottom: 32px;
}

.pre_catalog {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
    
.link-box {
    display: flex;
    align-items: center;
    margin-bottom: 42px;
}

.catalog_pre-footer {
    color: $color_content;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    &:hover {
        text-decoration: underline;
    }
}

select {
    width: 288px;
    appearance: none;
    background: url(img/arrow.png) no-repeat right center;
    background-position: 92%;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    font-family: $font_family;
    font-size: 16px;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 45px;
}

.product-content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 56px;
    column-gap: 32px;
}

.bag {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
    position: absolute;
    top: 11px;
    right: 57px;
}

.like {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
    position: absolute;
    top: 13px;
    right: 12px;
}

.product {
    width: 378px;
    position: relative;
    transition: transform 1s;
    &:hover {
        transform: scale(1.05);
    }
    &:hover .bag {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity 300ms;  
    }
    &:hover .like {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity 300ms;   
    }   
}

.svg_bag:hover path {
    fill: #A52A2A;
}

.svg_like:hover path {
    fill: #A52A2A;
}

.product_img {
    width: 100%;
}

.product_title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: $color_content;
    margin-bottom: 8px;
    margin-top: 8px;
    font-style: normal;
}
.product_text {
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    margin-bottom: 12px;
}
.product_cost {
    display: flex;
    gap: 32px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
.cost1 {
    color: #050505;
}
.cost2 {
    text-decoration-line: line-through;
    color: #888888;
}        
           
.pre-footer {
    margin-top: 38px;
    margin-bottom: 64px;
}

.pre-footer_link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #888888;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        color: $color_content;
    }
}

.footer {
    background-color: #F7F6F6;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-top: 32px;
}    

.footer_menu_contacts {
    display: flex;
    gap: 129px;
}
        
.nav_footer_item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer_title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: $color_content; 
    padding-bottom: 12px;
}

.footer_link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        color: #000000;
    }
}

.footer_item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    .footer_icons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 23px;
    }
} 


.icon:hover path {
    fill: #000000;
}
        
.footer_form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form_text {
    font-size: 12px;
    line-height: 15px;
    color: $color_content;
    font-style: normal;
    font-weight: normal;
    justify-content: flex-start;
}    

.form_email {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #C4C4C4;
    padding-left: 25px;
    padding-right: 25px;
    width: 275px;
    height: 46px;
    &::placeholder {
        font-style: normal;
        font-size: 15px;
        line-height: 18px;
        font-weight: 400;
        color: #C4C4C4;
    }
}
    
.form_button {
    background: rgba(222, 215, 215, 0.41);
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 20px;
    width: 275.36px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    color: $color_content;
    font-family: $font_family;
    transition: transform 1s;
    &:hover {
        background: #000000;
        border: 1px solid #000000;
        color: #ffffff;
        transform: scale(1.05);
    }
    
   
} 


@media (min-width: 1025px) and (max-width: 1200px) {
    .center {
        padding-left: 120px;
        padding-right: 120px;
    }
    .cart-box {
        display: flex;
        flex-wrap: wrap;
        gap: 64px; 
     }
    .footer_menu_contacts {
        gap: 50px;
    }
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }

    .menu_mobile {
        display: none;
    }

    .index_top_text {
        width: 100%;
    }

    .index_for {
        &_content {
            gap: 30px;
        }
    } 

    .for_item {
        height: 268px;
    }
  
    .cart-box {
       display: flex;
       flex-wrap: wrap;
       gap: 64px; 
    }

    .cart_items {
        width: 100%;
    }
    .proceed {
        background-color: #000000;
        color: #ffffff;
    } 
    .product-content {
        row-gap: 39px;
        column-gap: 28px;
    }    

    .product {
        width: 378px;
        transition: transform 1s;
        &:hover {
            transform: translate(140px, -20px) scale (1.5);
        }
    }
           
    .footer {
        &_logo {
            display: none;
        }
    }    
    
    .footer_menu_contacts {
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .header {
        border: none;
        padding-top: 50px;
    }
    .search {
        display: none;
    }
    .menu {
        display: none;
    }
    .menu_mobile {
        display: flex;
        align-items: center;
        gap: 32px;
    }
    .logo {
        width: 99px;
    }
    .index_top_content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .index_top_title,
    .catalog_top_title {
        font-size: 48px;
        line-height: 59px;
        text-align: center;
    }

    .cart_top_title {
        font-size: 48px;
        line-height: 59px;
        text-align: center;
        padding-bottom: 126px;
        padding-top: 126px;
    }

    .index_top_text {
        text-align: center;
    }

    .arrow {
        position: absolute;
        bottom: 9%;
        right: 9%;
    }

    .pre_catalog {
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 32px;
    }
    .link-box {
        margin-bottom: 0px;
    }
    .select {
        font-size: 14px;
        line-height: 17px;
    }
    .product-box {
        padding-top: 32px;
    }
    .index_for {
        margin-top: 32px;
        &_content {
            grid-template-columns: repeat(4, 1fr);
            gap: 16px;
        }
    }
    .index_for_title,
    .special_title {
        font-size: 24px;
        line-height: 29px;
    }
    .for_item {
        font-size: 28px;
        line-height: 34px;
        transition: transform 1s;
        &:hover {
            transform: scale(1.05);
        }
        &_big {
            grid-column: span 4;
        }
    }
    .cart-box {
        gap: 48px;
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
    }
    .cart_items {
        width: 100%;
    }
    .cart_order {
        width: 100%;
    }
    .items_img {
        display: none;
    }
    .items_text {
        margin-right: 25px;
        &_title {
            font-size: 18px;
            line-height: 22px;
        }
        &_def {
            font-size: 12px;
            line-height: 15px;
        }
        &_cost {
            font-size: 14px;
            line-height: 17px;
        }
    }
    .items_buttons {
        width: 163px;
        font-size: 12px;
        line-height: 15px;
    } 
    .proceed {
        background-color: #000000;
        color: #ffffff;
    } 
    .product {
        width: 100%;
        &_title {
            font-size: 18px;
            line-height: 22px;
        }
        &_cost {
            font-size: 18px;
            line-height: 22px;
        }
    }
    .pre-footer {
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .footer {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 34px;
        padding-bottom: 32px;
    }
    .footer_menu_contacts {
        gap: 100px;
    }
} 